@charset "utf-8";

@media screen and (min-width: 414px){
    .banner {
        height: 60px;
        width: 100%;
        background: black;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    .caozuo {
        color: white;
        font-size: 20px;
        line-height: 60px;
        margin-left: 15px;
        /* width: 200px; */
    }
    .button {
        width: 28px;
        height: 25px;
        margin: auto;
        position: absolute;
        top: 6%;
        right: 2%;
        bottom: 0;
        text-align: center;
        z-index: 999999999;
    }
    .span {
        display: block;
        background: #fff;
        height: 2px;
        margin-top: 3px;
        width: 20px;
        /*border-radius: 2px 2px;*/
    }
    
    .span_a {
        width: 23px;
    }
    
    .span_b {
        width: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        border-radius: 2px;
    }
    
    .span_c {
        width: 23px;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    .span_d {
        position: relative;
        width: 2px;
        height: 1.5em;
        background: white;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block;
        border-radius: 2px;
    }
    
    .span_d:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 1.5em;
        background: white;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        border-radius: 2px;
    }
    .hb {
        line-height: 23px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    
    .router-fade-enter-active,
    .router-fade-leave-active {
        transition: opacity .3s;
    }
    
    .router-fade-enter,
    .router-fade-leave-active {
        opacity: 0;
    }
    
    .fade-enter-active,
    .fade-leave-active {
        transition: all .4s
    }
    
    .fade-enter,
    .fade-leave-to
    {
        transform: translateX(54%);
    }
    [v-cloak] {
        display: none;
      }
    
    .sidebar {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;
        top: 60px;
        transform-origin: left;
        -webkit-transform-origin: left;
    }
    
    .right_slider {
        position: absolute;
        height: 100%;
        width: 50%;
        background: #3b3b3f;
        z-index: 1;
        right: 0;
    }
    .fliter_blur {
        filter: blur(10px);
    }
    
    ul,li,a {
        list-style: none;
        color: white;
        list-style-type: none;
        text-decoration:none;
        padding: 0;
        margin: 0;
    }
    .ul_one {
        margin-top: 40px;
        margin-left: 40px;
        font-size: 18px;
        font-weight: 200;
    }
    .ul_two {
        font-size: 14px;
        font-weight: 100;
        margin-left: 20px;
        /* animation: ulAnimation 1s;
        animation-direction: alternate; */
        /* height: 200px; */
    }
    .ul_two li {
        margin-top: 20px;
    }
    .title_two {
        margin-top: 30px;
    }
    .title_three {
        margin-bottom: 30px;
    }
    .three {
        display: block;
    }
    .x {
        display: block;
    }
    .child-title {
        /* color: #42b983; */
        font-size: 18px;
    }
}
@media screen and (max-width: 413px) and (min-width: 370px){
.banner {
    height: 60px;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 999;
}
.caozuo {
    color: white;
    font-size: 20px;
    line-height: 60px;
    margin-left: 15px;
    /* width: 200px; */
}
.button {
    width: 28px;
    height: 25px;
    margin: auto;
    position: absolute;
    top: 6%;
    right: 2%;
    bottom: 0;
    text-align: center;
    z-index: 999999999;
}
.span {
    display: block;
    background: #fff;
    height: 2px;
    margin-top: 3px;
    width: 20px;
    /*border-radius: 2px 2px;*/
}

.span_a {
    width: 23px;
}

.span_b {
    width: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 2px;
}

.span_c {
    width: 23px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.span_d {
    position: relative;
    width: 2px;
    height: 1.5em;
    background: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    border-radius: 2px;
}

.span_d:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 1.5em;
    background: white;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    border-radius: 2px;
}
.hb {
    line-height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.router-fade-enter-active,
.router-fade-leave-active {
    transition: opacity .3s;
}

.router-fade-enter,
.router-fade-leave-active {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .4s
}

.fade-enter,
.fade-leave-to
{
    transform: translateX(54%);
}
[v-cloak] {
    display: none;
  }

.sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 60px;
    transform-origin: left;
    -webkit-transform-origin: left;
}

.right_slider {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #3b3b3f;
    z-index: 1;
    right: 0;
}
.fliter_blur {
    filter: blur(10px);
}

ul,li,a {
    list-style: none;
    color: white;
    list-style-type: none;
    text-decoration:none;
    padding: 0;
    margin: 0;
    
}
.ul_one {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 18px;
}
.ul_two {
    font-size: 14px;
    font-weight: 100;
    margin-left: 20px;
    /* animation: ulAnimation 1s;
    animation-direction: alternate; */
    /* height: 200px; */
}
.ul_two li {
    margin-top: 20px;
}
.title_two {
    margin-top: 30px;
}
.title_three {
    margin-bottom: 30px;
}
.three {
    display: block;
}
.x {
    display: block;
}
.child-title {
    /* color: #42b983; */
    font-size: 18px;
}
}
